@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: Roboto;
}

body {
    margin: 0;
    background: #111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fa-magnifying-glass {
    color: white;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.logo {
    width: 150px;
}

.logo-wrapper .text {
    font-size: 75px;
    color: #FFF;
}

.logo-wrapper h1 {
    color: white;
}

footer a,
footer span {
    margin: 0 15px;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}

footer a {
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    justify-content: center;
}

.desc {
    display: flex;
    justify-content: center;
}

.desc p {
    width: 560px;
    color: rgba(253, 253, 253, 0.514);
}

form input {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, .2);
    color: #39426b;
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
}

form input:focus {
    border: 1px solid rgba(253, 253, 253, 0.514);
    border-radius: 6px;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
* {
  font-family: Verdana, sans-serif;
}

body {
  background-color: #1F2937;
}

h1, h2, h3, h4, h5, h6 {
  color: #39426b;
  text-align: center;
}

p {
  color: #7521c8;
}

.text-center {
	text-align: center;
}

html, body {
    padding: 0;
    margin: 0;
}

.navbar-main {
    background: #111827;
    display: flex;
    justify-content: left;
}

.navbar-inner {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: left;
    float: left;
    padding-left: 0;
}

.navbar-button {
    cursor: pointer;
    color: #39426b; /* Text Color */
    font-size: 10pt;
    border-radius: 8px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    margin: 1rem;
    align-items: left;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.navbar-button:hover {background-color: rgba(255, 255, 255, 0.09);}

/*Dropdown code*/
  .left {
    margin: 1rem;
    align-items: left;
    float: left;
  }
  .right {
    margin: 1rem;
    align-items: right;
    float: right;
}
  li:hover,
  li:focus-within {
    cursor: pointer;
  }
  
  li:focus-within a {
    outline: none;
  }
  
  ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    top: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }

iframe {
  display: block;
  margin: 0 auto;
  border: 0;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #262b45;
  margin-top: auto;
  width: 100%;
  align-self: center;
  height: 60px;
  text-align: center;
}

.button {
    Background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: #39426b; /* Text Color */
    font-size: 10pt;
    border-radius: 8px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}
.button:hover {background-color: rgba(255, 255, 255, 0.09);}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


p {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 40px;
  color: #39426b;
  margin: 0 auto;
}

/* Animation */
p {
  animation: animated-text 1.5s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 330px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(17, 4, 33,.75);}
  to{border-right-color: transparent;}
}